.header {
    text-align: center;
}

.header h1 {
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    background-image: linear-gradient(90deg, #4a00e0, #ff0080, #ff8c00);
    background-clip: text;
    color: transparent;
    display: inline-block;
}