.otp-div {
    display: flex;
    justify-content: center;
}

.otp-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgb(46, 55, 75);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    color: white;
    width: min(400px, 40%);
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid rgb(73, 84, 107);
    font-size: 1rem;
}

.otp-btn {
    padding: 0.5rem 0.7rem;
    color: white;
    border: none;
    background-color: #144EE3;
    width: 60%;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}